<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="SK BANK"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BANKMS"
        tools:targetApi="31">
        <activity
            android:name=".TransactionAdapter"
            android:exported="false" />
        <activity
            android:name=".TransactionActivity"
            android:exported="false" />
        <activity
            android:name=".Admin"
            android:exported="false" />
        <activity
            android:name=".ProfileImage"
            android:exported="false" />
        <activity
            android:name=".addAccount"
            android:exported="false" />
        <activity
            android:name=".Withdraw"
            android:exported="false" />
        <activity
            android:name=".Deposite"
            android:exported="false" />
        <activity
            android:name=".PayBills"
            android:exported="false" />
        <activity
            android:name=".TransferMoney"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".CreateAccountActivity"
            android:exported="true" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecentTransactions"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".SignupActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
    </application>

</manifest>